*{
    margin: 0%;
    padding: 0% ;
}

#ttl{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: #081b31;
    height: 5rem;
    line-height: 5rem;
}

img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choice{
   height: 165px;
   width: 165px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.choices{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;  
}

.choice:hover{
    cursor: pointer;
   background-color: black;
}

.score-board{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}

#user-score, 
#comp-score{
   font-size: 4rem;
}

#result{
    text-align: center;
    margin-top: 3rem;
}

#msg{
   background-color: #081b31;
   color: white ;
   font-size: 2rem;
   display: inline;
   padding: 1rem;
   border-radius: 2rem ;

}

#computerChoose{
   margin-top: 35px; 
}